* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60vw;
  height: 100vw;
  margin: 25px auto;
  border: 1px solid rebeccapurple;
}

form {
  width: 100%;
  height: 50px;
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1.5px solid rgb(33, 152, 199);
  font-size: 16px;
}

input:focus {
  outline: 2px solid rgb(33, 152, 199);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button[type="submit"] {
  width: 150px;
  height: 35px;
  padding: 5px 2px;
  background-color: rgb(33, 152, 199);
  border: 1px solid snow;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: snow;
  border: 1px solid rgb(33, 152, 199);
}

button[type="submit"]:focus {
  transform: scale(0.9);
}

.title {
  width: 86%;
  height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid blueviolet;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.title > h2 {
  margin-left: 40%;
}
.title > button {
  width: 130px;
  height: 30px;
  background-color: rgb(33, 152, 199);
  border: 1px solid snow;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 30px;
}

button {
  font-size: 16px;
  font-weight: bold;
}
.title > button:hover,
title > button:focus {
  border: 1px solid rgb(33, 152, 199);
  background-color: snow;
}
.table-container {
  margin-top: 0px;
}

table {
  margin: 20px auto;
  width: 86%;
}
table,
tbody tr,
tbody th,
tbody td {
  border: 1px solid slateblue;
  border-collapse: collapse;
}

tbody tr {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 30px;
}

thead th {
  width: 100%;
  height: 35px;
  text-align: center;
  padding-left: 190px;
}

tbody > tr > th:nth-child(2) {
  width: 75%;
}
tbody > tr > td:nth-child(2) {
  width: 75%;
}

tbody > tr.red > td:last-child {
  color: red;
}

tbody > tr.green > td:last-child {
  color: green;
}
